<header class="re-header">
    <nav class="navbar navbar-expand-md p-0">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav ml-auto align-items-center">

                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'index.html' ? 'active' : '' %>">
                    <a class="nav-link" href="index.html">About
                    </a>
                </li>
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'teacher.html' ? 'active' : '' %>"">
                    <a class=" nav-link" href="teacher.html">Teachers</a>
                </li>

                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'business.html' ? 'active' : '' %>"">
                    <a class=" nav-link" href="business.html">Business</a>
                </li>
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'contact.html' ? 'active' : '' %>"">
                    <a class=" nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item <%= htmlWebpackPlugin.options.filename === 'booknow.html' ? 'active' : '' %>"">
                    <a class=" nav-link re-btn" href="booknow.html">Book Now</a>
                </li>
            </ul>
        </div>
    </nav>
</header>